.container {

  position: absolute;
  top: 20px;
  left: 12%;
}

.App {

  background-image: url('./images/Gopher.png');
  position: fixed;

  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-color: black;

}