.header {
  text-align: center;
  background-color: transparent;
  background-position: center;
  width: 96%;
  margin: 0;
  padding: 4px;
  color: rgb(59, 48, 211);

  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}